In [3]:
import pandas
from pandas import DataFrame

In [5]:
genes = pandas.read_csv('../gene.csv')
taxon = pandas.read_csv('../taxon.csv')
assm = pandas.read_csv('../assembly.csv')
protein = pandas.read_csv('../protein.csv')

In [6]:
genes

,gene_id,gene_symbol,proteins_for_gene,assembly,taxon_id,description
0,877794,polA,1,GCF_000006765.1,208964,DNA polymerase I
1,878669,polB,1,GCF_000006765.1,208964,DNA polymerase II
2,880686,PA0669,1,GCF_000006765.1,208964,error-prone DNA polymerase
3,881987,dinB,1,GCF_000006765.1,208964,DNA polymerase IV
4,880490,dnaE,1,GCF_000006765.1,208964,DNA polymerase III subunit alpha
5,880683,PA0670,1,GCF_000006765.1,208964,hypothetical protein

In [7]:
protein

,protein_id,protein_title,cdd_id,gene_id,taxon_id,poly_type
0,15600686,DNA polymerase I [Pseudomonas aeruginosa PAO1],235591,877794,208964,A
1,15597083,DNA polymerase II [Pseudomonas aeruginosa PAO1],235595,878669,208964,B
2,15596120,DNA polymerase IV [Pseudomonas aeruginosa PAO1],235035,881987,208964,Y
3,308154503,error-prone DNA polymerase [Pseudomonas aerugi...,235553,880686,208964,C
4,15598836,DNA polymerase III subunit alpha [Pseudomonas ...,235554,880490,208964,C
5,15595867,hypothetical protein PA0670 [Pseudomonas aerug...,176458,880683,208964,Y

In [8]:
pandas.merge(protein, genes, how="left", on=["gene_id"])

,protein_id,protein_title,cdd_id,gene_id,taxon_id_x,poly_type,gene_symbol,proteins_for_gene,assembly,taxon_id_y,description
0,15600686,DNA polymerase I [Pseudomonas aeruginosa PAO1],235591,877794,208964,A,polA,1,GCF_000006765.1,208964,DNA polymerase I
1,15597083,DNA polymerase II [Pseudomonas aeruginosa PAO1],235595,878669,208964,B,polB,1,GCF_000006765.1,208964,DNA polymerase II
2,15596120,DNA polymerase IV [Pseudomonas aeruginosa PAO1],235035,881987,208964,Y,dinB,1,GCF_000006765.1,208964,DNA polymerase IV
3,308154503,error-prone DNA polymerase [Pseudomonas aerugi...,235553,880686,208964,C,PA0669,1,GCF_000006765.1,208964,error-prone DNA polymerase
4,15598836,DNA polymerase III subunit alpha [Pseudomonas ...,235554,880490,208964,C,dnaE,1,GCF_000006765.1,208964,DNA polymerase III subunit alpha
5,15595867,hypothetical protein PA0670 [Pseudomonas aerug...,176458,880683,208964,Y,PA0670,1,GCF_000006765.1,208964,hypothetical protein

In [9]:
pandas.merge(taxon, assm, how="left", on=["taxon_id"])

,taxon_id,name,species_id,species,genus_id,genus,family_id,family,order_id,order,...,phylum,organism,accession,gc_count,seq_length,chromosomes,gene_total,gene_num_protein_coding,gene_num_non_coding,gene_num_pseudogene
0,208964,Pseudomonas aeruginosa PAO1,287,Pseudomonas aeruginosa,286,Pseudomonas,135621,Pseudomonadaceae,72274,Pseudomonadales,...,Proteobacteria,Pseudomonas aeruginosa PAO1,GCF_000006765.1,4169320,6264404,1,5697,5572,106,19

In [10]:
full_speices_data = pandas.merge(taxon, assm, how="left", on=["taxon_id"])
pandas.merge(full_speices_data, protein,  how="left", on=["taxon_id"])

,taxon_id,name,species_id,species,genus_id,genus,family_id,family,order_id,order,...,chromosomes,gene_total,gene_num_protein_coding,gene_num_non_coding,gene_num_pseudogene,protein_id,protein_title,cdd_id,gene_id,poly_type
0,208964,Pseudomonas aeruginosa PAO1,287,Pseudomonas aeruginosa,286,Pseudomonas,135621,Pseudomonadaceae,72274,Pseudomonadales,...,1,5697,5572,106,19,15600686,DNA polymerase I [Pseudomonas aeruginosa PAO1],235591,877794,A
1,208964,Pseudomonas aeruginosa PAO1,287,Pseudomonas aeruginosa,286,Pseudomonas,135621,Pseudomonadaceae,72274,Pseudomonadales,...,1,5697,5572,106,19,15597083,DNA polymerase II [Pseudomonas aeruginosa PAO1],235595,878669,B
2,208964,Pseudomonas aeruginosa PAO1,287,Pseudomonas aeruginosa,286,Pseudomonas,135621,Pseudomonadaceae,72274,Pseudomonadales,...,1,5697,5572,106,19,15596120,DNA polymerase IV [Pseudomonas aeruginosa PAO1],235035,881987,Y
3,208964,Pseudomonas aeruginosa PAO1,287,Pseudomonas aeruginosa,286,Pseudomonas,135621,Pseudomonadaceae,72274,Pseudomonadales,...,1,5697,5572,106,19,308154503,error-prone DNA polymerase [Pseudomonas aerugi...,235553,880686,C
4,208964,Pseudomonas aeruginosa PAO1,287,Pseudomonas aeruginosa,286,Pseudomonas,135621,Pseudomonadaceae,72274,Pseudomonadales,...,1,5697,5572,106,19,15598836,DNA polymerase III subunit alpha [Pseudomonas ...,235554,880490,C
5,208964,Pseudomonas aeruginosa PAO1,287,Pseudomonas aeruginosa,286,Pseudomonas,135621,Pseudomonadaceae,72274,Pseudomonadales,...,1,5697,5572,106,19,15595867,hypothetical protein PA0670 [Pseudomonas aerug...,176458,880683,Y